<section class="main-header">
    <img src="<%= asset_path "8800.png" %>">
    <section class="about">
  <h1>About Gutitter</h1>
  <p>
     Gutitterは、受講生のために作成された、グチる為のアプリです。<br>
     グチを吐き出すことで、実社会において無駄なストレスを溜め込むことなく生きて行くことができます。
  </p>
  <p>
     Gutitterを一言で表すと、ただグチるだけのアプリです。<br>
     自分が、いつどんな時にどのようなグチを言っているかリアルタイムで把握することができます。
  </p>
</section>
    
    
</section>


